
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page</title>
</head>
<body>
    <p>
        <a href="/List/Info">Информация о списке</a>
    </p>
    <p>
        <a href="/Test/Message">Сообщение</a>
    </p>
</body>
</html>
