@model List<UserRegistration>

@{
    ViewData["Title"] = "Contact";
}

<h1>Юзеры</h1>

    @foreach (var item in Model)
    {
        <ul>
        <li>@item.Name</li>
        <li>@item.Email</li>
        <li>@item.Age</li>
        </ul>
    }




