
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/Calc/Create" method="post">
        <input type="number" name="num1"/>
        <input type="number" name="num2"/>
        <p>
            <button name = "operation" type="submit" value="+">+</button>
            <button name = "operation" type="submit" value="-">-</button>
            <button name = "operation" type="submit" value="/">/</button>
            <button name = "operation" type="submit" value="*">*</button>
        </p>
    </form>


</body>
</html>
