@model Calculator.Models.Data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    @Model.Num1 @Model.Operation @Model.Num2 = @Model.Result 
</body>
</html>
