@model Lesson6Task1.Models.ProductRepo

<table>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Name</td>
        </tr>
    }
</table>